 {% load leaflet_tags %}
 <html>

 <head>
     {% leaflet_js %} {% leaflet_css %}
     {% load static %}
     <link rel="stylesheet" href="{% static 'home.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="{% static "home.js" %}"></script>
 </head>

 <body>
     <div class="box stack-top">
         <div style="display: inline-flex; width:100%;justify-content: space-between;  pointer-events:none;  ">
             <div>
                 <div class="side-div z-depth-5">
                     <p class="box-label">Aktuelles Risiko:</p>
                     <h2 class="risk-class-st1">Hoch</h2>
                     <p class="info-side-div">45.588188, 9.6594888</p>
                 </div>
                 <div class="side-div z-depth-5">
                     <p class="box-label">Anzahl Vogelschlag:</p>
                     <h2 class="birdstrike-highest">110686</h2>
                     <p class="info-side-div">Höchster Vogelschlag: 3201 m</p>
                 </div>
                 <div class="side-div z-depth-5">
                     <p class="box-label">Zugrichtung:</p>
                     <h2 class="birdstrike-direction">Nord-West</h2>
                 </div>
                 <div class="side-div z-depth-5">
                     <p class="box-label">Letzte Meldung:</p>
                     <h2 class="last-update">20.20.2020<br>20:20 Uhr</h2>
                 </div>
             </div>
             <div class="legend">
                 <div>
                     <!-- Dropdown Trigger -->
                     <a class='dropdown-trigger btn' href='#' data-target='dropdown1' style="background-color: #3F9B93; width:150px">100 ms</a>
                     <button class="waves-effect waves-light btn" style="background-color: #3F9B93">Pause</button>
                     <button class="waves-effect waves-light btn" style="background-color: #3F9B93">Clear</button>

                     <!-- Dropdown Structure -->
                     <ul id='dropdown1' class='dropdown-content'>
                         <li><a href="#!">100 ms</a></li>
                         <li><a href="#!">200 ms</a></li>
                         <li><a href="#!">500 ms</a></li>
                         <li><a href="#!">1000 ms</a></li>
                         <li><a href="#!">2000 ms</a></li>
                         <li><a href="#!">5000 ms</a></li>
                         <li><a href="#!">10000 ms</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
     <div id="map" class="map box"></div>
     <script>
         var dLat = "{{ lat }}"
         var dLng = "{{ lng }}"
         Home.init();
         // Home.setMapMarker(dLat, dLng); 


         document.addEventListener('DOMContentLoaded', function () {
             var elems = document.querySelectorAll('.dropdown-trigger');
             var instances = M.Dropdown.init(elems, {

             });
         });
     </script>
 </body>

 </html>