 {% load leaflet_tags %}
 <html>

 <head>
     {% leaflet_js %} {% leaflet_css %}
     {% load static %}
     <link rel="stylesheet" href="{% static 'home.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="{% static "home.js" %}"></script>
 </head>

 <body>
     <div class="box stack-top" style="pointer-events: none !important;">
         <div class="info-card">
             <div style="pointer-events: auto !important;">
                 <div class="side-div z-depth-5">
                     <p class="box-label">Aktuelles Risiko:</p>
                     <h2 class="risk-class-st1">Hoch</h2>
                     <p class="info-side-div">45.588188, 9.6594888</p>
                 </div>
                 <div class="side-div z-depth-5">
                     <p class="box-label">Anzahl Vogelschlag:</p>
                     <h2 class="birdstrike-highest">110686</h2>
                     <p class="info-side-div">Höchster Vogelschlag: 3201 m</p>
                 </div>
                 <div class="side-div z-depth-5">
                     <p class="box-label">Zugrichtung:</p>
                     <h2 class="birdstrike-direction">Nord-West</h2>
                 </div>
                 <div class="side-div z-depth-5">
                     <p class="box-label">Letzte Meldung:</p>
                     <h2 class="last-update">20.20.2020<br>20:20 Uhr</h2>
                 </div>
             </div>
             <div class="legend">
                 <div style="float: right">
                     <a class='dropdown-trigger btn' href='#' data-target='dropdown1'
                         style="background-color: #3F9B93; width:150px">100 ms</a>
                     <button class="waves-effect waves-light btn" style="background-color: #3F9B93">Pause</button>
                     <button class="waves-effect waves-light btn" style="background-color: #3F9B93">Clear</button>

                     <ul id='dropdown1' class='dropdown-content'>
                         <li><a href="#!">100 ms</a></li>
                         <li><a href="#!">200 ms</a></li>
                         <li><a href="#!">500 ms</a></li>
                         <li><a href="#!">1000 ms</a></li>
                         <li><a href="#!">2000 ms</a></li>
                         <li><a href="#!">5000 ms</a></li>
                         <li><a href="#!">10000 ms</a></li>
                     </ul>
                 </div>
                 <div>
                     <div>
                         <div class="card white darken-1 height-legend" style="background-color: #343333 !important;">
                             <p>
                                 <label>
                                     <input type="checkbox" class="filled-in color-ft-0-1" />
                                     <span class="legend-text">
                                         < 1 kft</span> </label> </p> <p>
                                             <label>
                                                 <input type="checkbox" class="filled-in color-ft-1-2" />
                                                 <span class="legend-text">1 - 3 kft</span>
                                             </label>
                             </p>
                             <p>
                                 <label>
                                     <input type="checkbox" class="filled-in color-ft-2-3" />
                                     <span class="legend-text">3 - 5 kft</span>
                                 </label>
                             </p>
                             <p>
                                 <label>
                                     <input type="checkbox" class="filled-in color-ft-3-4" />
                                     <span class="legend-text">5 - 10 kft</span>
                                 </label>
                             </p>
                             <p>
                                 <label>
                                     <input type="checkbox" class="filled-in color-ft-4-5" />
                                     <span class="legend-text">10 - 15 kft</span>
                                 </label>
                             </p>
                             <p>
                                 <label>
                                     <input type="checkbox" class="filled-in color-ft-5-6" />
                                     <span class="legend-text">15 - 20 kft</span>
                                 </label>
                             </p>
                             <p>
                                 <label>
                                     <input type="checkbox" class="filled-in color-ft-6-7" />
                                     <span class="legend-text">20 - 25 kft</span>
                                 </label>
                             </p>
                             <p>
                                 <label>
                                     <input type="checkbox" class="filled-in color-ft-7-8" />
                                     <span class="legend-text">25 - 30 kft</span>
                                 </label>
                             </p>
                             <p>
                                 <label>
                                     <input type="checkbox" class="filled-in color-ft-8-9" />
                                     <span class="legend-text">30 - 35 kft</span>
                                 </label>
                             </p>
                             <p>
                                 <label>
                                     <input type="checkbox" class="filled-in color-ft-9-10" />
                                     <span class="legend-text">> 35 kft</span>
                                 </label>
                             </p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div id="map" class="map box"></div>
     <script>
         var aBirds = "{{ birds }}"
         aBirds = JSON.parse(aBirds.replaceAll("&#x27;", "\""));
         Home.init();
        
        //set Marker
        //TODO Checkbox is true = setmarker
         for (var oBird in aBirds) {
             var sColor = Home.getColorBasedOnHeight(aBirds[oBird].alt); 
             Home.setMapMarker(aBirds[oBird].lat, aBirds[oBird].lng, sColor);
         }

         document.addEventListener('DOMContentLoaded', function () {
             var elems = document.querySelectorAll('.dropdown-trigger');
             var instances = M.Dropdown.init(elems, {

             });
         });
     </script>
 </body>

 </html>